@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
/* Colors Palete */
:root {
  --card: ;
  --cta: rgb(0, 219, 182);
  --cta-dark: rgb(4, 177, 148);
  --font: rgb(33, 46, 75);
  --grey: rgb(204, 204, 204);
  --orange: rgba(229, 170, 132, 255);
  --yellow: rgba(232, 225, 147, 255);
  --dark-grey: #888;
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  color: var(--font);
}

body {
  max-width: 1440px;
  margin: auto;
}

/* Flex */

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* Header */
header {
  justify-content: space-between;
  padding: 0 0 16px 0;
  margin: 0 0 16px 0;
  /* border-bottom: 1px solid var(--grey); */
}

.logo,
.about-us,
.login {
  align-items: center;
  font-size: 22px;
  font-weight: 550;
  gap: 24px;
}

header a:link,
header a:visited {
  text-decoration: none;
  color: var(--font);
  transition: all 0.3s;
}

header a:hover {
  color: var(--cta);
}

header a:active {
  color: var(--cta-dark);
}
.logo {
  width: 300px;
}

.about-us {
  width: 400px;
  justify-content: center;
}

.login {
  justify-content: flex-end;
  width: 400px;
  gap: 22px;
}

/* Main */
.container {
  justify-content: space-between;
  margin-top: 32px;
  /* gap: 32px; */
}
h1 {
  font-size: 36px;
}

/* Icon Setting */
button,
button:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--grey);
  font-size: 24px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  color: #fff;
  background-color: var(--cta);
}
button:active {
  background-color: var(--cta-dark);
}

/* button: */
/* .icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--grey);
  font-size: 24px;
} */

.nav-icon i,
.order-form i {
  border: none;
}

.order-form i {
  font-size: 24px;
}

/* Left flex */
.cards-container {
  flex-direction: column;
  width: 700px;
  gap: 16px;
  justify-content: space-between;
}

.card {
  gap: 16px;
  padding: 32px 16px;
  /* border: 1px solid var(--grey); */
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}
.card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-card {
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  background: linear-gradient(to right bottom, var(--orange), var(--yellow));
  padding: 48px;
  padding-left: 16px;
  padding-right: 78px;
  border-radius: 6px;
  color: #fff;
}

.google-card i {
  font-size: 28px;
}

.card-description {
  padding-left: 32px;
  flex-direction: column;
  gap: 32px;
  justify-content: space-evenly;
}
.rating-star {
  gap: 8px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.rating h2,
.rating-star,
select,
.each-price {
  color: var(--dark-grey);
}

.rating h2 {
  margin-bottom: 28px;
  font-size: 28px;
}

select {
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 6px;
}

.each-price {
  font-size: 22px;
  font-weight: 700;
}
/* Right flex */
.order {
  width: 50%;
  justify-content: flex-end;
  align-items: flex-start;
}
.order-info {
  font-size: 22px;
  font-weight: 700;
}
.form {
  flex-direction: column;
  justify-content: space-between;
  gap: 28px;
  max-width: 700px;
  padding: 32px;
  border-radius: 8px;
  border: 1px solid var(--grey);
  /* padding: 32px; */
}
select:focus,
input:focus {
  border: none;
  outline: 1px solid var(--cta);
}

.input,
.order-form,
.price {
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
}

.order-form {
  gap: 12px;
  /* background-color: red; */
  padding: 0 0 32px 0;
  border-bottom: 1px solid var(--grey);
}

.order-form .icon {
  font-size: 32px;
}
.order-form input {
  width: 300px;
  border-radius: 8px;
  padding: 12px 0;

  /* padding: 0 120px; */
}
.order-form input[type="text"] {
  border: 1px solid var(--grey);
  padding: 0 12px;
  font-size: 18px;
}
.order-form .apply {
  width: 200px;
  border: none;
  outline: 1px solid var(--cta);
  color: var(--cta);
  font-size: 18px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.order-form .apply:hover {
  background-color: var(--cta);
  color: #fff;
}

.order-form .apply:active {
  background-color: var(--cta-dark);
}

.pay-logout {
  flex-direction: column;
  gap: 14px;
}
.price .total-price {
  font-size: 32px;
  color: var(--cta);
}

.form .checkout,
.form .checkout:visited {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: var(--cta);
  font-size: 18px;
  color: var(--font);
  transition: all 0.3s;
  cursor: pointer;
}
.form .checkout:hover {
  color: #fff;
}

.form .checkout:active {
  background-color: var(--cta-dark);
}

@media (max-width: 1440px) {
  header {
    margin: 0 32px;
  }
  .logo,
  .about-us,
  .login {
    gap: 12px;
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  main h1 {
    text-align: center;
  }
}
