@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
/* Colors Palete */
:root {
  --card: ;
  --cta: #00dbb6;
  --font: #212e4b;
  --grey: #ccc;
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  color: var(--font);
}

body {
  margin: 32px;
}

/* Flex */

.flex {
  display: flex;
}

/* Header */
header {
  justify-content: space-between;
  padding: 0 0 16px 0;
  margin: 0 0 32px 0;
  border-bottom: 1px solid var(--grey);
}

.logo,
.about-us,
.login {
  align-items: center;
  font-size: 28px;
  font-weight: 600;
  gap: 24px;
}

.logo {
  width: 300px;
}

.about-us {
  width: 400px;
}

.login {
  justify-content: flex-end;
  width: 400px;
  gap: 22px;
}

/*  */
.order {
  background-color: red;
}
